.modal-dialog
  .modal-content
    .modal-header
      %button.close{ "data-dismiss" => "modal", type: "button" } ×
      %h2.modal-title
        Add a user account

    #modal-form
      = form_for [@contact, @user], html: { class: "form-horizontal" }, remote: true do |f|
        .modal-body
          - if @user.errors.any?
            .alert.alert-danger
              %a.close{ "data-dismiss" => "alert", href: "#" } ×
              - @user.errors.full_messages.each do |message|
                %p
                  = message
          .row
            .col-md-10.col-md-offset-1
              .row
                .form-group
                  .col-md-10
                    = f.text_field :email, placeholder: "Email", class: "form-control"

        .modal-footer
          %button.btn.btn-default{ "data-dismiss" => "modal", type: "button" } Close
          = f.submit "Save", class: "btn btn-primary", data: { toggle: "button", "loading-text" => "Saving" }