#edit-contact-modal.modal.fade{ role:  "modal" }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ "data-dismiss" => "modal", type: "button" } ×
        %h4.modal-title
          Edit
          = contact.full_name

      #modal-form
        = render "form", contact: contact