= f.fields_for :emails, @contact.emails.present? ? @contact.emails : @contact.emails.build do |email_form|
  %label{ for: "email" } Email
  .form-group
    = email_form.text_field :value, placeholder: "Email", class: "form-control"
    = email_form.link_to_remove "Remove", class: "btn btn-danger btn-xs"
  .clearfix  
= f.link_to_add :emails, class: "btn-fam square" do
  %i.fa.fa-plus
  %span Add another email