.row.top-buffer-15
  #emails
    .col-md-4.fields
      .panel.panel-default
        .panel-heading
          .panel-title
            Emails
        .panel-body
          = f.fields_for :emails, @contact.emails.present? ? @contact.emails : @contact.emails.build do |email_form|
            .row
              .form-group
                .col-md-9
                  = email_form.input :value, placeholder: "Email", label: false
                .col-md-3
                  = email_form.link_to_remove "Remove", class: "btn btn-danger"

          = f.link_to_add "Add email", :emails, class: "btn btn-default"