#add-contact-modal.modal.fade{ role:  "modal" }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ "aria-hidden" => "true", "data-dismiss" => "modal", type: "button" } ×
        %h4.modal-title
          Add a contact

      #modal-form
        = render "modal_form", contact: contact