.col-sm-9.for.content
  = render "action_panel", search_url: contacts_url

  .contacts.holder
    %table.table.for.contacts.table-hover
      %thead
        %tr
          %th
            = check_box_tag "select-contact"
          %th
            Name
          %th
            Company
          %th
            Title
      %tbody#contacts-listing
        = render @contacts

    #contacts-pagination
      = paginate(@contacts)