%tr
  %td
    = check_box_tag "select-company"
  %td
    = link_to company.name, company_url(company)

  - affiliations = company.client_affiliate_affiliations
  %td
    - affiliations.each do |affiliation|
      = affiliation.affiliate.name
      %br
  %td
    - affiliations.each do |affiliation|
      = affiliation.role.humanize
      %br