- require 'csv'

- max_relationships = @entities.map{ |c| c.internal_company_relationships.size }.max
- content = CSV.generate do |csv|
  - csv << (["Company Name", "Company Type", "Address", "Address 2", "City", "State", "Zip", "Country", "Website", "Primary Phone"] + max_relationships.times.map{ "Relationship" })
  - @entities.each do |company|
    - address = company.addresses.first || Address.new
    - phone_number = company.phone_numbers.first || PhoneNumber.new
    - csv << ([company.name, company.company_type, address.address_line_1, address.address_line_2, address.city, address.state, address.zip, address.country.upcase, company.website, phone_number] + company.internal_company_relationships.map{ |company_relationship| "#{company_relationship.internal_company.name} - #{company_relationship.role.text} #{ ' - ' + company_relationship.record_status if company_relationship.archived?}" })

= raw content