/* line 1, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_extends.scss */
.input-picker .ws-picker-body, .input-picker .ws-button-row, .input-picker .picker-grid, .input-picker .picker-list, .input-picker .ws-options button {
  zoom: 1;
}
/* line 5, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_extends.scss */
.input-picker .ws-picker-body:before, .input-picker .ws-button-row:before, .input-picker .picker-grid:before, .input-picker .picker-list:before, .input-picker .ws-options button:before, .input-picker .ws-picker-body:after, .input-picker .ws-button-row:after, .input-picker .picker-grid:after, .input-picker .picker-list:after, .input-picker .ws-options button:after {
  display: table;
  clear: both;
  content: ' ';
}

/* line 11, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_extends.scss */
.ws-range .ws-range-thumb, .ws-inline-picker {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 19, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_extends.scss */
.ws-range .ws-range-thumb *, .ws-inline-picker *, .ws-range .ws-range-thumb:before, .ws-inline-picker:before, .ws-range .ws-range-thumb:after, .ws-inline-picker:after,
.ws-range .ws-range-thumb :after,
.ws-inline-picker :after,
.ws-range .ws-range-thumb :before,
.ws-inline-picker :before {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* style picker api */
/* line 30, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.input-picker[data-class~="show-week"] .ws-week,
.show-week .input-picker .ws-week {
  display: table-cell;
}

/* line 36, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.input-picker[data-class~="show-yearbtns"] .ws-picker-header,
.show-yearbtns .input-picker .ws-picker-header {
  margin: 0 4.2307692308em;
}
/* line 40, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.input-picker[data-class~="show-yearbtns"] button.ws-year-btn,
.show-yearbtns .input-picker button.ws-year-btn {
  display: inline-block;
}

/* line 47, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.input-picker[data-class~="hide-btnrow"] .ws-button-row,
.hide-btnrow .input-picker .ws-button-row {
  display: none;
}

/* line 53, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.input-picker[data-class~="show-selectnav"] .ws-picker-header > button:after,
.show-selectnav .input-picker .ws-picker-header > button:after, .input-picker[data-class~="show-uparrow"] .ws-picker-header > button:after,
.show-uparrow .input-picker .ws-picker-header > button:after {
  display: inline-block;
}

/* line 61, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.input-picker[data-class~="show-selectnav"] .ws-picker-header > select,
.show-selectnav .input-picker .ws-picker-header > select {
  display: inline-block;
}
/* line 65, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.input-picker[data-class~="show-selectnav"] .ws-picker-header > button,
.show-selectnav .input-picker .ws-picker-header > button {
  width: auto;
}
/* line 68, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.input-picker[data-class~="show-selectnav"] .ws-picker-header > button > span,
.show-selectnav .input-picker .ws-picker-header > button > span {
  display: none;
}

/* btn api */
/* line 82, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.hide-spinbtns + .input-buttons > .step-controls,
.hide-spinbtns .input-buttons > .step-controls {
  display: none;
}
/* line 87, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.hide-spinbtns::-webkit-inner-spin-button,
.hide-spinbtns ::-webkit-inner-spin-button {
  display: none;
}

/* line 94, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.hide-dropdownbtn + .input-buttons > .ws-popover-opener,
.hide-dropdownbtn .input-buttons > .ws-popover-opener {
  display: none;
}

/* line 101, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.hide-inputbtns + .input-buttons,
.hide-inputbtns .input-buttons {
  display: none;
}
/* line 106, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.hide-inputbtns::-webkit-inner-spin-button,
.hide-inputbtns ::-webkit-inner-spin-button {
  display: none;
}

/* line 113, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.a11yhide-inputbtns + .input-buttons,
.a11yhide-inputbtns .input-buttons {
  width: 0;
  margin: 0;
  overflow: visible;
}
/* line 118, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.a11yhide-inputbtns + .input-buttons > .step-controls,
.a11yhide-inputbtns .input-buttons > .step-controls {
  display: none;
}
/* line 122, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.a11yhide-inputbtns + .input-buttons > .ws-popover-opener,
.a11yhide-inputbtns .input-buttons > .ws-popover-opener {
  height: 0;
  width: 0;
  overflow: hidden;
}
/* line 128, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.a11yhide-inputbtns + .input-buttons > .ws-popover-opener:focus, .a11yhide-inputbtns + .input-buttons > .ws-popover-opener:active,
.a11yhide-inputbtns .input-buttons > .ws-popover-opener:focus,
.a11yhide-inputbtns .input-buttons > .ws-popover-opener:active {
  height: 19px;
  width: 19px;
}

/* line 138, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.inputbtns-outside + span.input-buttons,
.inputbtns-outside span.input.input-buttons {
  margin-left: 2px;
}
/* line 141, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.inputbtns-outside + span.input-buttons.ws-is-rtl,
.inputbtns-outside span.input.input-buttons.ws-is-rtl {
  margin-left: 0;
  margin-right: 2px;
}

/* line 151, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.show-ticklabels .ws-range-ticks[data-label]:after {
  display: inline-block;
}

/* line 157, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.show-tickvalues .ws-range-ticks:before {
  display: inline-block;
}

/* line 163, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.hide-ticks .ws-range-ticks {
  display: none;
}

/* line 171, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.show-valuetooltip span.ws-range-thumb > span,
.show-valuetooltip span.ws-range-thumb > span span:after {
  display: inline-block;
}
/* line 174, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.show-valuetooltip span.ws-range-thumb > span span:after {
  content: attr(data-value) !important;
  visibility: visible !important;
}

/* line 186, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.ws-active.show-activevaluetooltip span.ws-range-thumb > span,
.ws-active.show-activevaluetooltip span.ws-range-thumb > span span:after,
.show-activevaluetooltip .ws-range.ws-active span.ws-range-thumb > span,
.show-activevaluetooltip .ws-range.ws-active span.ws-range-thumb > span span:after {
  display: inline-block;
}
/* line 189, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.ws-active.show-activevaluetooltip span.ws-range-thumb > span span:after,
.show-activevaluetooltip .ws-range.ws-active span.ws-range-thumb > span span:after {
  content: attr(data-value) !important;
  visibility: visible !important;
}

/* line 198, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.show-labeltooltip span.ws-range-thumb > span,
.show-labeltooltip span.ws-range-thumb > span span:before {
  display: inline-block;
}
/* line 201, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.show-labeltooltip span.ws-range-thumb > span span:before {
  content: attr(data-valuetext) !important;
  visibility: visible !important;
}

/* line 212, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.ws-active.show-activelabeltooltip span.ws-range-thumb > span,
.ws-active.show-activelabeltooltip span.ws-range-thumb > span span:before,
.show-activelabeltooltip .ws-range.ws-active span.ws-range-thumb > span,
.show-activelabeltooltip .ws-range.ws-active span.ws-range-thumb > span span:before {
  display: inline-block;
}
/* line 215, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/_api-forms-ext.scss */
.ws-active.show-activelabeltooltip span.ws-range-thumb > span span:before,
.show-activelabeltooltip .ws-range.ws-active span.ws-range-thumb > span span:before {
  content: attr(data-valuetext) !important;
  visibility: visible !important;
}

/* spinner control for time, number (usable for date, datetime-local) */
/* line 7, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.has-input-buttons,
html > body input.ws-inputreplace.has-input-buttons,
span.has-input-buttons {
  display: inline-block;
  vertical-align: middle;
}

/* line 12, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-inputreplace[readonly][aria-readonly="false"] {
  cursor: pointer;
}
/* line 14, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-inputreplace[readonly][aria-readonly="false"][disabled] {
  cursor: default;
  cursor: not-allowed;
}

/* line 22, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-buttons,
.step-controls,
.ws-popover-opener {
  zoom: 1;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-left: -20px;
}

/* line 31, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.step-controls,
.ws-popover-opener {
  position: relative;
  float: left;
  margin: 0;
  height: 19px;
  width: 15px;
}
/* line 38, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-is-rtl .step-controls, .ws-is-rtl
.ws-popover-opener {
  float: right;
}

/* line 43, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-popover-opener {
  position: relative;
  zoom: 1;
  overflow: visible;
  margin: 0 0 0 2px;
  width: 19px;
  border-radius: 3px;
  cursor: pointer;
  background: #ccc;
}
/* line 54, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-is-rtl .ws-popover-opener {
  margin: 0 2px 0 0;
}
/* line 58, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-popover-opener span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin: -8px 0 0 -8px;
  background: url(forms.png) no-repeat -321px -1px;
}
/* line 69, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.color-input-buttons .ws-popover-opener span {
  background-position: -348px 0;
}
/* line 73, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.time-input-buttons .ws-popover-opener span {
  background-position: -377px 1px;
}
/* line 77, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-popover-opener span.ws-color-indicator-bg {
  background: url(../jpicker/images/preview-opacity.png) no-repeat 0;
}
/* line 80, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-popover-opener span.ws-color-indicator {
  background: none;
}

/* line 86, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
input[type="color"] {
  width: 7.5em;
}

/* line 90, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-buttons {
  text-align: left;
}
/* line 93, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-buttons.color-input-buttons {
  margin-left: 2px;
}
/* line 97, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-buttons.ws-disabled {
  opacity: 0.95;
}
/* line 101, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-buttons.ws-disabled *, .input-buttons.ws-readonly * {
  cursor: default;
}

/* line 109, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-button-size-1.month-input-buttons, .input-button-size-1.date-input-buttons, .input-button-size-1.datetime-local-input-buttons {
  margin-left: -24px;
}
/* line 113, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-button-size-1.month-input-buttons.ws-is-rtl, .input-button-size-1.date-input-buttons.ws-is-rtl, .input-button-size-1.datetime-local-input-buttons.ws-is-rtl {
  margin-left: 0;
  margin-right: -24px;
}

/* line 119, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-button-size-2 {
  margin-left: -39px;
}
/* line 122, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-button-size-2.ws-is-rtl {
  margin-left: 0;
  margin-right: -39px;
}

/* line 130, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.step-controls span {
  position: absolute;
  left: 0;
  display: inline-block;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
  width: 15px;
  height: 9px;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  background: url(forms.png) no-repeat 0 0;
}
/* line 144, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.step-controls span.step-up {
  top: 0;
  background-position: -80px 0;
}
/* line 147, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.step-controls span.step-up:hover {
  background-position: -105px 0;
}
/* line 150, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.step-controls span.step-up.mousepress-ui {
  background-position: -105px -20px;
}
/* line 153, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-disabled .step-controls span.step-up {
  background-position: -130px 0;
}
/* line 157, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.step-controls span.step-down {
  bottom: 0;
  background-position: -155px 0;
}
/* line 160, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.step-controls span.step-down:hover {
  background-position: -180px 0;
}
/* line 163, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.step-controls span.step-down.mousepress-ui {
  background-position: -180px -20px;
}
/* line 166, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-disabled .step-controls span.step-down {
  background-position: -205px 0;
}

/* helper classes to hide show/hide specific btn features features */
/* line 181, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-input {
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
}
/* line 187, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-input > * {
  text-align: center;
  letter-spacing: normal;
  word-spacing: normal;
}
/* line 192, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-input > * > option {
  text-align: left;
}
/* line 196, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-input .ws-input-seperator {
  vertical-align: middle;
  width: 2%;
  overflow: hidden;
}
/* line 202, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-input + .input-buttons {
  margin-left: 2px;
}
/* line 207, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-input input,
.ws-input .ws-input-seperator {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
}

/* line 215, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
span.ws-input {
  display: inline-block;
}

/* line 222, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-date .mm,
.ws-date .dd {
  width: 23.5%;
  min-width: 10%;
}
/* line 226, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-date .yy {
  width: 48%;
  min-width: 20%;
}
/* line 232, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-date.ws-month-select .dd {
  width: 22%;
  min-width: 10%;
}
/* line 236, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-date.ws-month-select .mm {
  width: 38%;
  min-width: 17%;
}
/* line 241, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-date.ws-month-select .yy {
  width: 36%;
  min-width: 16%;
}

/* line 250, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-month .mm,
.ws-month .yy {
  width: 47.9%;
  min-width: 20%;
}

/* range */
/* line 257, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0.5769230769em 0;
  zoom: 1;
  border: none;
  height: 0.6153846154em;
  width: 155px;
  border-radius: 0.3846153846em;
  background: #ddd;
  cursor: pointer;
  font-size: 13px;
  outline: none;
  transition: background-color 400ms, border-color 400ms;
  background-color: #ddd;
  box-shadow: 0 -0.0769230769em 0.1153846154em rgba(0, 0, 0, 0.2) inset;
}
/* line 275, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
[list] + .ws-range {
  margin: 0.1923076923em 0 0.9615384615em;
}
/* line 279, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range .ws-range-thumb {
  top: 0;
  position: absolute;
  display: block;
  z-index: 4;
  margin: -0.4615384615em 0 0 -0.7692307692em;
  height: 1.5384615385em;
  width: 1.5384615385em;
  border-radius: 50%;
  background: #ccc;
  border: 0.0769230769em solid #aaaaaa;
  cursor: pointer;
  transition: background-color 400ms, border-color 400ms;
}
/* line 295, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range .ws-range-thumb > span {
  position: absolute;
  margin: 0 0 3px -90px;
  padding: 0;
  border: 0;
  left: 50%;
  bottom: 1.6153846154em;
  visibility: hidden;
  width: 180px;
  text-align: center;
  background: none;
}
/* line 307, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range .ws-range-thumb > span span {
  visibility: visible;
}
/* line 310, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range .ws-range-thumb > span span:after, .ws-range .ws-range-thumb > span span:before {
  content: "";
  padding: 0.0769230769em 0.2692307692em;
  text-align: center;
  background: #fff;
  border: 0.0769230769em solid #cccccc;
  border-radius: 0.3076923077em;
  visibility: visible;
}
/* line 324, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range.ws-focus .ws-range-thumb {
  background: #eee;
  border-color: #999;
}
/* line 329, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range.ws-active .ws-range-thumb {
  box-shadow: 0 0 0.6923076923em rgba(0, 75, 100, 0.2);
}
/* line 334, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range[aria-disabled="true"], .ws-range[aria-readonly="true"] {
  cursor: default;
  opacity: 0.95;
}
/* line 340, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range[aria-disabled="true"] .ws-range-thumb, .ws-range[aria-readonly="true"] .ws-range-thumb {
  cursor: default;
}
/* line 344, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range[aria-disabled="true"] .ws-range-thumb {
  background: #ddd;
  border-color: #ddd;
}
/* line 349, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range .ws-range-rail {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  zoom: 1;
}
/* line 360, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range .ws-range-progress {
  position: absolute !important;
  display: block;
  margin: 0;
  padding: 0 !important;
  top: 0;
  border-radius: 0.3846153846em;
  height: 100%;
  left: 0;
  z-index: 1;
  overflow: hidden;
  background: #09c;
  box-shadow: 0 0.1153846154em 0.2692307692em rgba(255, 255, 255, 0.2) inset;
}
/* line 375, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range .ws-range-ticks {
  position: absolute;
  bottom: -0.7692307692em;
  left: 0;
  height: 0.6153846154em;
  width: 0.0769230769em;
  margin: 0 0 0 -0.0769230769em;
  background: #ccc;
  transition: background-color 400ms, color 400ms;
}
/* line 385, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range .ws-range-ticks.ws-selected-option {
  background: #09c;
  color: #09c;
}
/* line 392, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range.ws-is-rtl .ws-range-progress {
  left: auto;
  right: 0;
}
/* line 396, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range.ws-is-rtl .ws-range-ticks {
  left: auto;
  right: 0;
}
/* line 402, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range.vertical-range {
  width: 0.6153846154em;
  margin: 0 10px 0 5px;
}
/* line 406, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range.vertical-range .ws-range-ticks {
  bottom: auto;
  left: auto;
  margin: -0.0576923077em 0 0 0;
  right: -0.5769230769em;
  height: 0.1153846154em;
  width: 0.5230769231em;
}
/* line 415, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range.vertical-range .ws-range-progress {
  top: auto;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 0;
}

/* line 428, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range-ticks[data-label]:after,
.ws-range-ticks:before {
  display: none;
  content: attr(data-label);
  font-size: 0.7692307692em;
  min-width: 2em;
  text-align: center;
  margin: 0.6923076923em 0 0 -0.95em;
}
/* line 436, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-is-rtl .ws-range-ticks[data-label]:after, .ws-is-rtl
.ws-range-ticks:before {
  margin: 0.6923076923em -0.95em 0 0;
}
/* line 440, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.vertical-range .ws-range-ticks[data-label]:after, .vertical-range
.ws-range-ticks:before {
  margin: 0 0 0 5px;
  position: relative;
  top: -0.7em;
  left: 0.5384615385em;
  min-width: 0;
}

/* line 449, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range-ticks:before {
  content: attr(data-value);
}

/* line 457, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-range-thumb > span,
.ws-range-thumb > span span:after,
.ws-range-thumb > span span:before {
  display: none;
}

/* helper classes to hide show/hide specific range features features */
/* line 475, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-button-row button {
  border-radius: 0.3076923077em;
  background: #ccc;
  padding: 0.3846153846em 0.6153846154em;
  display: inline-block;
  border: 0.0769230769em solid transparent;
}

/* line 482, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-inline-picker {
  position: relative;
  z-index: 99;
}

/* line 487, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker {
  overflow: visible;
  font-size: 13px;
  outline: none;
  text-align: center;
  font-family: sans-serif;
  width: 27.6923076923em;
  min-width: 23.0769230769em;
  /* Selector API: */
}
/* line 496, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-po-outerbox {
  -webkit-transform: translate(0, 30%);
  transform: translate(0, 30%);
}
/* line 502, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker[data-vertical="bottom"] .ws-po-outerbox {
  -webkit-transform: translate(0, -30%);
  transform: translate(0, -30%);
}
/* line 508, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker.time-popover, .input-picker.datetime-local-popover {
  width: 31.9230769231em;
}
/* line 516, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker.time-popover .ws-prev,
.input-picker.time-popover .ws-next,
.input-picker.time-popover .ws-super-prev,
.input-picker.time-popover .ws-super-next {
  display: none;
}
/* line 521, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker.ws-size-2 {
  width: 49.6153846154em;
}
/* line 525, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker.ws-size-3 {
  width: 73.8461538462em;
}
/* line 529, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker.color-popover {
  width: 590px;
}
/* line 533, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker abbr[title] {
  cursor: help;
}
/* line 538, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker li,
.input-picker button {
  font-size: 1em;
  line-height: 1.2307692308em;
  color: #000;
  transition: all 400ms;
}
/* line 546, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-focus,
.input-picker :focus {
  outline: 1px dotted #000;
}
/* line 551, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-po-box {
  position: relative;
  padding: 1.1538461538em 1.5384615385em;
  border-radius: 0.3846153846em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  direction: ltr;
}
/* line 559, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-picker-controls {
  position: absolute;
  top: 1.1538461538em;
}
/* line 563, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-picker-controls > button {
  border: 0.0769230769em solid #cccccc;
  border-radius: 0.3846153846em;
  padding: 0;
  width: 1.8461538462em;
  height: 1.8461538462em;
  background: #eee;
  z-index: 1;
  color: #333;
}
/* line 574, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-picker-controls > button.ws-year-btn:after, .input-picker .ws-picker-controls > button:before {
  display: inline-block;
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  margin-top: 0.2923076923em;
}
/* line 583, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-picker-controls > button span {
  display: none;
}
/* line 587, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-picker-controls > button:hover {
  border-color: #666;
  color: #000;
}
/* line 592, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-picker-controls > button[disabled] {
  opacity: 0.4;
  border-color: #eee;
  color: #ddd;
}
/* line 601, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .prev-controls,
.input-picker .ws-po-box[dir="rtl"] .next-controls {
  left: 1.5384615385em;
  right: auto;
}
/* line 606, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .prev-controls [class*="ws-super-"]:after,
.input-picker .prev-controls button:before,
.input-picker .ws-po-box[dir="rtl"] .next-controls [class*="ws-super-"]:after,
.input-picker .ws-po-box[dir="rtl"] .next-controls button:before {
  border-width: 0.35em 0.6em 0.35em 0;
  border-color: transparent #333 transparent transparent;
  margin-left: -0.1em;
}
/* line 612, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .prev-controls [class*="ws-super-"],
.input-picker .ws-po-box[dir="rtl"] .next-controls [class*="ws-super-"] {
  margin-right: 0.2307692308em;
  margin-left: 0;
}
/* line 616, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .prev-controls [class*="ws-super-"][disabled],
.input-picker .ws-po-box[dir="rtl"] .next-controls [class*="ws-super-"][disabled] {
  display: none;
}
/* line 624, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .next-controls,
.input-picker .ws-po-box[dir="rtl"] .prev-controls {
  right: 1.5384615385em;
  left: auto;
}
/* line 628, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .next-controls button:before,
.input-picker .ws-po-box[dir="rtl"] .prev-controls button:before {
  margin-left: 0.1153846154em;
}
/* line 634, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .next-controls [class*="ws-super-"]:after,
.input-picker .next-controls button:before,
.input-picker .ws-po-box[dir="rtl"] .prev-controls [class*="ws-super-"]:after,
.input-picker .ws-po-box[dir="rtl"] .prev-controls button:before {
  border-width: 0.35em 0 0.35em 0.6em;
  border-color: transparent transparent transparent #333;
  margin-right: -0.1em;
}
/* line 640, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .next-controls [class*="ws-super-"],
.input-picker .ws-po-box[dir="rtl"] .prev-controls [class*="ws-super-"] {
  margin-left: 0.2307692308em;
  margin-right: 0;
}
/* line 644, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .next-controls [class*="ws-super-"][disabled],
.input-picker .ws-po-box[dir="rtl"] .prev-controls [class*="ws-super-"][disabled] {
  display: none;
}
/* line 652, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker.ws-po-visible .ws-picker-controls button:after, .input-picker.ws-po-visible .ws-picker-controls button:before {
  content: " ";
}
/* line 657, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-po-box[dir="rtl"] {
  direction: rtl;
}
/* line 662, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker.time-popover .ws-picker-body {
  padding-top: 2.7692307692em;
}
/* line 666, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-picker-body {
  position: relative;
  padding: 3.0769230769em 0 0;
  zoom: 1;
  margin: 0 -0.7692307692em;
}
/* line 675, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-button-row {
  position: relative;
  margin: 0.7692307692em 0 0;
  border-top: 0.0769230769em solid #eeeeee;
  padding: 0.7692307692em 0 0;
  text-align: left;
  z-index: 2;
}
/* line 684, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-button-row button {
  border: 0.0769230769em solid #cccccc;
  border-radius: 5px;
  box-shadow: 1px 1px 0 #fff;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top, #ececec 0%, #dddddd 100%);
  background-image: linear-gradient(to bottom, #ececec 0%, #dddddd 100%);
  transition: border-color 200ms linear;
  float: left;
}
/* line 696, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-button-row button.ws-empty {
  float: right;
}
/* line 702, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-po-box[dir="rtl"] .ws-button-row button {
  float: right;
}
/* line 705, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-po-box[dir="rtl"] .ws-button-row button.ws-empty {
  float: left;
}
/* line 712, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker[data-currentview="setMonthList"] .ws-picker-header > select, .input-picker[data-currentview="setYearList"] .ws-picker-header > select {
  max-width: 90%;
}
/* line 716, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker[data-currentview="setDayList"] .ws-picker-header > select {
  max-width: 40%;
}
/* line 720, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker[data-currentview="setDayList"] .ws-picker-header > .month-select {
  max-width: 50%;
}
/* line 724, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker.time-popover .ws-picker-header {
  top: -2.3076923077em;
}
/* line 727, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker.time-popover .ws-picker-header button {
  font-size: 1.1538461538em;
}
/* line 733, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-picker-header {
  position: absolute;
  top: -3.0769230769em;
  right: 0;
  left: 0;
  margin: 0 2.6923076923em;
}
/* line 740, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-picker-header > button {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0.3076923077em 0;
  font-weight: 700;
  color: #000;
}
/* line 749, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-picker-header > button > .month-digit,
.input-picker .ws-picker-header > button > .monthname-short {
  display: none;
}
/* line 753, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-picker-header > button:after {
  content: " ";
  margin: -0.1em 0.5em 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0.3em 0.6em 0.3em;
  border-color: transparent transparent #333 transparent;
  vertical-align: middle;
}
/* line 765, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-picker-header > button:hover {
  text-decoration: underline;
}
/* line 769, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-picker-header > button[disabled]:after {
  display: none !important;
}
/* line 773, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-picker-header > button[disabled]:hover {
  text-decoration: none;
}
/* line 779, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .picker-grid {
  position: relative;
  zoom: 1;
  overflow: hidden;
}
/* line 786, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .picker-grid .monthname,
.input-picker .picker-grid .month-digit {
  display: none;
}
/* line 791, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker.ws-size-1 .picker-list {
  float: none;
  width: auto;
}
/* line 796, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .picker-list {
  position: relative;
  zoom: 1;
  width: 22.3076923077em;
  float: left;
  margin: 0 10px;
  background: #fff;
}
/* line 805, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .picker-list tr {
  border: 0;
}
/* line 810, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .picker-list th,
.input-picker .picker-list td {
  padding: 0.2307692308em 0.3846153846em;
  text-align: center;
}
/* line 815, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .picker-list.day-list td {
  padding: 0.0384615385em 0.1538461538em;
}
/* line 818, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .picker-list.day-list td > button {
  padding: 0.4230769231em 0;
}
/* line 824, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .picker-list.time-list > .ws-picker-header > button > .monthname {
  display: inline;
}
/* line 828, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .picker-list.time-list td {
  padding: 0.0769230769em 0.3846153846em;
}
/* line 831, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .picker-list.time-list td > button {
  padding: 0.5269230769em 0;
}
/* line 838, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .picker-list td > button {
  display: block;
  padding: 1.5899230769em 0;
  width: 100%;
  border-radius: 0.3846153846em;
  color: #000;
  background-color: #fff;
}
/* line 846, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .picker-list td > button.othermonth {
  color: #888;
}
/* line 851, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .picker-list td > button:hover, .input-picker .picker-list td > button.checked-value {
  color: #fff;
  background: #000;
}
/* line 857, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .picker-list td > button[disabled], .input-picker .picker-list td > button[disabled]:hover {
  color: #888;
  background-color: #fff;
}
/* line 863, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .picker-list table {
  width: 100%;
  margin: 0;
  border: 0 none;
  border-collapse: collapse;
  table-layout: fixed;
}
/* line 872, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .picker-list th,
.input-picker .picker-list td.week-cell {
  font-size: 1em;
  line-height: 1.2307692308em;
  padding-bottom: 0.2307692308em;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 881, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-options {
  margin: 0.7692307692em 0 0;
  border-top: 0.0769230769em solid #eeeeee;
  padding: 0.7692307692em 0 0;
  text-align: left;
}
/* line 887, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-options h5 {
  margin: 0 0 0.3846153846em;
  padding: 0;
  font-size: 1.0769230769em;
  font-weight: bold;
}
/* line 895, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-options ul,
.input-picker .ws-options li {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 901, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-options button {
  display: block;
  padding: 0.3076923077em;
  width: 100%;
  text-align: left;
  border-radius: 0.3076923077em;
}
/* line 911, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-options button.ws-focus, .input-picker .ws-options button:focus, .input-picker .ws-options button:hover {
  color: #fff;
  background: #000;
}
/* line 919, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-options button[disabled], .input-picker .ws-options button[disabled].ws-focus, .input-picker .ws-options button[disabled]:focus, .input-picker .ws-options button[disabled]:hover {
  color: #888;
  background: #fff;
  text-decoration: none;
}
/* line 924, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-options button .ws-value {
  float: left;
}
/* line 928, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-options button .ws-label {
  float: right;
  font-size: 96%;
}
/* line 936, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.input-picker .ws-week,
.input-picker .ws-year-btn {
  display: none;
}

/* line 940, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-picker-controls > button {
  display: inline-block;
}

/* line 943, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-picker-header > button:after {
  display: none;
}

/* line 947, /home/alex/.rvm/gems/ruby-2.1.1/gems/webshims-rails-1.12.3/vendor/assets/javascripts/webshims/shims/styles/scss/forms-ext.scss */
.ws-picker-header select {
  display: none;
}

/* helper classes to hide show/hide specific picker features */
