.for.content {
  margin-left: 70px;
  padding-left: 0;
  padding-right: 0;
  font-family: "Verb Regular", "Tahoma", "Trebuchet", "Verdana", "Arial", sans-serif;
  font-size: rem(14pt);
}

.contacts.holder {
  padding: rem(22pt) rem(22pt) rem(8pt);
  border: 1px solid $gray-02;
  @include box-shadow($gray-02 rem(1px) rem(1px) 1px);
  background-color: #fff;
}

.table tbody tr th {
  border-top: none;
  font-family: "Verb Regular", "Tahoma", "Trebuchet", "Verdana", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: rem(14pt);
}