.contact.intro {
  // Panel styles
  @include row();
  padding: 0 0 0 rem(35px);
}

.contact-action {
  @include outer-container;
  margin-bottom: rem(30px);
}

.go.back {
  @include span-columns(17);

  font-family: "Verb Regular", "Tahoma", "Trebuchet", "Verdana", "Arial", sans-serif;
  font-size: rem(20px);
  padding: rem(13px) rem(25px);
  border-bottom: 4px solid $gray-06;
  a {
    color: $black-02;
    display: block;
    padding-left: rem(25px);
    padding-bottom: 1rem;
    position: relative;
    top: rem(12px);
  }
  .glyphicon-chevron-left {
    font-size: rem(22px);
    vertical-align: sub;
  }
}

.profile-container {
  @include span-columns(6);
  @include omega();
  float: right;
}

.basic.contact.info {
  @include span-columns(24 of 24);
  font-family: "Verb Light", "Tahoma", "Trebuchet", "Verdana", "Arial", sans-serif;
}

.prefix {
  color: #9bb3b3;
}

.contact.name {
  font-size: rem(58px);
  border-bottom: 5px solid $black-01;
  padding-left: rem(25px);
  .btn-fam {
    position: relative;
    margin-right: 10px;
    bottom: -15px;
  }
}

.secondary.contact.info {
  margin: 1rem 0 2rem;
  padding-left: rem(25px);
  font-family: "Verb Regular", "Tahoma", "Trebuchet", "Verdana", "Arial", sans-serif;
  font-size: rem(20px);
  span.label {
    font-family: "Verb Extra Bold", "Tahoma", "Trebuchet", "Verdana", "Arial", sans-serif;
    color: $black-01;
    font-size: rem(20px);
  }

}

.contact.details {
  @include row();
  background-color: #fff;
  border-top: 5px solid $gray-02;
}

.board.for.contact {
  @include span-columns(12 of 24);
  padding-bottom: 50px;
  border-right: 1px solid #d0dcdc;
  height: 300px;
  padding: 0 rem(75px) 0 rem(75px);
  a {
    color: #000;
    border-bottom: 1px dashed #01a4e1;
    &:hover {
      border-bottom: 1px solid #01a4e1;
    }
  }
}

.board.for.contact h3 {
  border-top: 5px solid $green;
  display: inline-block;
  color: $green;
  text-transform: uppercase;
  font-family: "Verb Extra Bold", "Tahoma", "Trebuchet", "Verdana", "Arial", sans-serif;
  font-size: rem(20px);
  font-weight: bold;
  margin-top: rem(-8px);
  padding-top: rem(20px);
}

.board.for.contact h2 {
  margin-top: rem(10px);
  padding-top: 0;
  font-family: "Verb Extra Bold", "Tahoma", "Trebuchet", "Verdana", "Arial", sans-serif;
  font-size: rem(37px);
}

.board.for.contact h4 {
  font-family: "Verb Regular", "Georgia", "Times", serif;
  font-size: rem(26px);
  color: #9bb3b3;
  text-transform: none;
  margin-bottom: rem(36px);
}

.board.for.contact h5, .board.for.contact th {
  font-family: "Verb Black", "Tahoma", "Trebuchet", "Verdana", "Arial", sans-serif;
  font-size: rem(17px);
  border-bottom: 3px solid $gray-02;
  padding-bottom: 1rem;
}

.board.for.contact table {
  font-family: "Verb Regular", "Tahoma", "Trebuchet", "Verdana", "Arial", sans-serif;
  .bold {
    font-family: "Verb Extra Bold", "Tahoma", "Trebuchet", "Verdana", "Arial", sans-serif;
    font-weight: 600;
  }
  .light {
    color: #8aa0a0;
  }
  .dark {
    color: #555a5a;
  } 
}

.board.for.contact.communications table {
  width: 50%;
}

