.contact.intro {
  // Panel styles
  @include row();
  padding: 0 0 0 rem(35px);
  background-color: $background-gray;
}

.go.back {
  @include span-columns(18 of 24);
  font-family: "Verb Regular", "Tahoma", "Trebuchet", "Verdana", "Arial", sans-serif;
  font-size: rem(14px);
  padding: rem(10px) rem(25px);
  margin-bottom: rem(40px);

  a {
    color: $black-02;
    border-bottom: 4px solid $gray-06;
    display: block;
    padding-left: rem(25px);
    padding-bottom: 1rem;
  }
  .glyphicon-chevron-left {
    font-size: rem(22px);
    vertical-align: sub;
  }
}

.basic.contact.info {
  @include span-columns(24 of 24);
  font-family: "Verb Light", "Tahoma", "Trebuchet", "Verdana", "Arial", sans-serif;
}

.contact.name {
  font-size: rem(58px);
  border-bottom: 5px solid $black-01;
  padding-left: rem(25px);
  .btn-fam {
    position: relative;
    bottom: -20px;
  }
}

.secondary.contact.info {
  margin: 1rem 0 2rem;
  padding-left: rem(25px);
  font-family: "Verb Regular", "Tahoma", "Trebuchet", "Verdana", "Arial", sans-serif;
  font-size: rem(20px);
  span.label {
    font-family: "Verb Extra Bold", "Tahoma", "Trebuchet", "Verdana", "Arial", sans-serif;
    color: $black-01;
    font-size: rem(20px);
  }

}

.contact.details {
//  padding: rem(0) rem(25px) rem(15px) rem(69px);
  @include row();
  background-color: #fff;
  border-top: 5px solid $gray-02;
  padding: 0 0 0 rem(75px);
}

.board.for.contact {
  @include span-columns(12 of 24);
  padding-bottom: 50px;
}

.board.for.contact h3 {
  border-top: 5px solid $green;
  display: inline-block;
  color: $green;
  text-transform: uppercase;
  font-family: "Verb Extra Bold", "Tahoma", "Trebuchet", "Verdana", "Arial", sans-serif;
  font-size: rem(20px);
  font-weight: bold;
  margin-top: rem(-8px);
  padding-top: rem(20px);
}

.board.for.contact h2 {
  margin-top: rem(10px);
  padding-top: 0;
  font-family: "Verb Extra Bold", "Tahoma", "Trebuchet", "Verdana", "Arial", sans-serif;
  font-size: rem(37px);
}

.board.for.contact h4 {
  font-family: "Lora Regular", "Georgia", "Times", serif;
  font-size: rem(26px);
  color: #666;
  text-transform: none;
  margin-bottom: rem(36px);
}

.board.for.contact h5, .board.for.contact th {
  font-family: "Verb Black", "Tahoma", "Trebuchet", "Verdana", "Arial", sans-serif;
  font-size: rem(17px);
  border-bottom: 5px solid $gray-02;
}

.board.for.contact.communications table {
  width: 50%;
}

