@font-face {
    font-family: 'Verb Black';
    src: asset-url('verbblack-webfont.eot');
    src: asset-url('verbblack-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('verbblack-webfont.woff') format('woff'),
         asset-url('verbblack-webfont.ttf') format('truetype'),
         asset-url('verbblack-webfont.svg#verbblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'verbblack_italic';
    src: asset-url('verbblack-italic-webfont.eot');
    src: asset-url('verbblack-italic-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('verbblack-italic-webfont.woff') format('woff'),
         asset-url('verbblack-italic-webfont.ttf') format('truetype'),
         asset-url('verbblack-italic-webfont.svg#verbblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verb Regular';
    src: asset-url('verbbold-italic-webfont.eot');
    src: asset-url('verbbold-italic-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('verbbold-italic-webfont.woff') format('woff'),
         asset-url('verbbold-italic-webfont.ttf') format('truetype'),
         asset-url('verbbold-italic-webfont.svg#verbbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Verb Regular';
    src: asset-url('verbbold-webfont.eot');
    src: asset-url('verbbold-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('verbbold-webfont.woff') format('woff'),
         asset-url('verbbold-webfont.ttf') format('truetype'),
         asset-url('verbbold-webfont.svg#verbbold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'verbextrabold_italic';
    src: asset-url('verbextrabold-italic-webfont.eot');
    src: asset-url('verbextrabold-italic-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('verbextrabold-italic-webfont.woff') format('woff'),
         asset-url('verbextrabold-italic-webfont.ttf') format('truetype'),
         asset-url('verbextrabold-italic-webfont.svg#verbextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Verb Extra Bold';
    src: asset-url('verbextrabold-webfont.eot');
    src: asset-url('verbextrabold-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('verbextrabold-webfont.woff') format('woff'),
         asset-url('verbextrabold-webfont.ttf') format('truetype'),
         asset-url('verbextrabold-webfont.svg#verbextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'verbextralight_italic';
    src: asset-url('verbextralight-italic-webfont.eot');
    src: asset-url('verbextralight-italic-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('verbextralight-italic-webfont.woff') format('woff'),
         asset-url('verbextralight-italic-webfont.ttf') format('truetype'),
         asset-url('verbextralight-italic-webfont.svg#verbextralight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'verbextralight';
    src: asset-url('verbextralight-webfont.eot');
    src: asset-url('verbextralight-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('verbextralight-webfont.woff') format('woff'),
         asset-url('verbextralight-webfont.ttf') format('truetype'),
         asset-url('verbextralight-webfont.svg#verbextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Verb Light';
    src: asset-url('verblight-italic-webfont.eot');
    src: asset-url('verblight-italic-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('verblight-italic-webfont.woff') format('woff'),
         asset-url('verblight-italic-webfont.ttf') format('truetype'),
         asset-url('verblight-italic-webfont.svg#verblight_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'Verb Light';
    src: asset-url('verblight-webfont.eot');
    src: asset-url('verblight-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('verblight-webfont.woff') format('woff'),
         asset-url('verblight-webfont.ttf') format('truetype'),
         asset-url('verblight-webfont.svg#verblight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'verbmedium_italic';
    src: asset-url('verbmedium-italic-webfont.eot');
    src: asset-url('verbmedium-italic-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('verbmedium-italic-webfont.woff') format('woff'),
         asset-url('verbmedium-italic-webfont.ttf') format('truetype'),
         asset-url('verbmedium-italic-webfont.svg#verbmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'verbmedium';
    src: asset-url('verbmedium-webfont.eot');
    src: asset-url('verbmedium-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('verbmedium-webfont.woff') format('woff'),
         asset-url('verbmedium-webfont.ttf') format('truetype'),
         asset-url('verbmedium-webfont.svg#verbmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Verb Regular';
    src: asset-url('verbregular-italic-webfont.eot');
    src: asset-url('verbregular-italic-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('verbregular-italic-webfont.woff') format('woff'),
         asset-url('verbregular-italic-webfont.ttf') format('truetype'),
         asset-url('verbregular-italic-webfont.svg#verbregular_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'Verb Regular';
    src: asset-url('verbregular-webfont.eot');
    src: asset-url('verbregular-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('verbregular-webfont.woff') format('woff'),
         asset-url('verbregular-webfont.ttf') format('truetype'),
         asset-url('verbregular-webfont.svg#verbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'verbsemibold_italic';
    src: asset-url('verbsemibold-italic-webfont.eot');
    src: asset-url('verbsemibold-italic-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('verbsemibold-italic-webfont.woff') format('woff'),
         asset-url('verbsemibold-italic-webfont.ttf') format('truetype'),
         asset-url('verbsemibold-italic-webfont.svg#verbsemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'verbsemibold';
    src: asset-url('verbsemibold-webfont.eot');
    src: asset-url('verbsemibold-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('verbsemibold-webfont.woff') format('woff'),
         asset-url('verbsemibold-webfont.ttf') format('truetype'),
         asset-url('verbsemibold-webfont.svg#verbsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'verbultra_italic';
    src: asset-url('verbultra-italic-webfont.eot');
    src: asset-url('verbultra-italic-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('verbultra-italic-webfont.woff') format('woff'),
         asset-url('verbultra-italic-webfont.ttf') format('truetype'),
         asset-url('verbultra-italic-webfont.svg#verbultra_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'verbultra';
    src: asset-url('verbultra-webfont.eot');
    src: asset-url('verbultra-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('verbultra-webfont.woff') format('woff'),
         asset-url('verbultra-webfont.ttf') format('truetype'),
         asset-url('verbultra-webfont.svg#verbultra') format('svg');
    font-weight: normal;
    font-style: normal;

}