@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/#{$icon-font-path}#{$icon-font-name}.eot');
  src: url('/assets/#{$icon-font-path}#{$icon-font-name}.eot?#iefix') format('embedded-opentype'),
       url('/assets/#{$icon-font-path}#{$icon-font-name}.woff') format('woff'),
       url('/assets/#{$icon-font-path}#{$icon-font-name}.ttf') format('truetype'),
       url('/assets/#{$icon-font-path}#{$icon-font-name}.svg#glyphicons_halflingsregular') format('svg');
}