.family.menu {
  float: left;
}

a:hover {
  text-decoration: none;
}

.closed .brand {
  background: #7cc351;
}

.closed .brand {
  margin: 0 auto;
  text-align: center;
  height: 65px;
  vertical-align: middle;
  display: table-cell;
  width: 70px;
}

.expanded .brand {
  background: #87c85f;
  padding: 0px 18px;
  font-size: 12pt;
  font-family: "Verb Regular", "Tahoma", "Trebuchet", "Verdana", "Arial", sans-serif;
  color: #fff;
}

.brand.text {
  height: 65px;
  display: table-cell;
  vertical-align: middle;
  width: 150px;
}

.brand {
  height: 65px;
    border-bottom: 1px solid #a8d393;
    border-right: 1px solid #75b74e;
}

.menu .side{
  padding-top: 90px;
    border-right: 1px solid #cdd5d5;
}

.closed.menu.wrapper {
  background: #dbe4e4;
  width: 70px;
  min-height: 1000px;
  float: left;
  height: 100%;
}

.expanded.menu.wrapper {
  background: #f2f3f3;
  width: 150px;
  min-height: 1000px;
  float: left;
  height: 100%;
}

.menu.item {
  padding: 0px 18px;
  height: 58px;
  font-size: 12pt;
  font-family: "Verb Regular", "Tahoma", "Trebuchet", "Verdana", "Arial", sans-serif;
  color: #798f8f;
}

.menu.item:hover {
  color: #000;
}

.menu.item span, .menu.item i {
  display: table-cell;
  height: 58px;
  vertical-align: middle;
}

.closed .menu.item {
  text-align: -webkit-center;
}

.menu.item i {
  font-size: 16pt;
}

.closed.menu.wrapper .menu.item.active {
  background: #272d2d;
  color: #fff;
  border-right: 1px solid #2c3333;
    margin-right: -1px;
}

.expanded.menu.wrapper .menu.item.active {
  background: #3b3f3f;
  color: #fff;
  border-right: 1px solid #000;
}