.profile.and.help {
  height: 50px;
  background-color: #272d2d;
  font-family: "Verb Regular", "Tahoma", "Trebuchet", "Verdana", "Arial", sans-serif;
  color: #a2a2a2;
  display: block;
  text-align: center;
  a {
    cursor: pointer;
  }
  overflow: hidden;
}

._profile {
  width: 72%;
  font-size: rem(25px);
  float: left;
  padding: 12px 0 0;
  height: 50px;
}

._help {
  font-size: rem(40px);
  color: #74ba3b;
  border-left: 1px solid #c6c8c8;
  float: left;
  width: 28%;
  height: 50px;
  padding: 7px 0 0;
}

.on.listing.pages {
  @include span-columns(5.84070792);
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}