.main.menu
  .family.menu
    .closed.menu.wrapper
      .brand
        = image_tag "pmg-mini.png"
      .left.side
        %a{href: "/"}
          .menu.item
            %i.fa.fa-home
        %a{href: "/contacts"}
          .menu.item.active
            %i.fa.fa-book
        %a{href: "http://mt.pmgdirect.net"}
          .menu.item
            %i.fa.fa-map-marker
        %a{href: ""}
          .menu.item
            %i.fa.fa-archive
        %a{href: ""}
          .menu.item
            %i.fa.fa-ellipsis-v
    .expanded.menu.wrapper{style: "display: none;"}
      .brand.text PMG
      .right.side
        %a{href: "/"}
          .menu.item.expanded
            %span.menu.expanded.text Home
        %a{href: "/contacts"}
          .menu.item.expanded.active
            %span.menu.expanded.text Contacts
        %a{href: "http://mt.pmgdirect.net"}
          .menu.item.expanded
            %span.menu.expanded.text Mail Tracker
        %a{href: ""}
          .menu.item.expanded
            %span.menu.expanded.text List Fullfillment
        %a{href: ""}
          .menu.item.expanded
            %span.menu.expanded.text
              %i.fa.fa-ellipsis-h
