.for.profile.and.help
  .for.profile.col-sm-10
    %span.glyphicon.glyphicon-user
    = current_user.email
    = link_to "(Logout)", destroy_user_session_path, method: "delete"

  .for.help.col-sm-2
    %span.glyphicon.glyphicon-question-sign